nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f9996c;
    font-size: larger;
    text-align: center;
}

h1 {
    padding: 20px;
}

.header {
    padding: 5px;
}



a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color:red;
    text-decoration: underline green solid 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover {
    color:red;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color:red;
    background-color: #f9996c;
    text-decoration: underline rgb(21, 245, 21) solid 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#socials{
    width:40px;
    height:41px;
}
#socials1{
    width:43px;
    height: 43px;
}
